In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .master("local[1]") \
        .appName("SparkDB") \
        .getOrCreate()

In [7]:
spark

In [10]:
import os
for subdir, dirs, files in os.walk('./'):
    for file in files:
        print(file)

.profile
.bash_logout
.bashrc
PySpark.ipynb
studibier.csv
.wget-hsts
fontlist-v330.json
PySpark-checkpoint.ipynb
nbsignatures.db
notebook_secret
notebook_cookie_secret
nbserver-7-open.html
nbserver-7.json
kernel-c81168ba-715e-49d1-93e5-f13eced42cdc.json
history.sqlite
history.sqlite-journal
README
environments.txt
2022-12-05T03_08_27_542Z-debug-0.log
jupyter_notebook_config.py

In [11]:
!ls

PySpark.ipynb  studibier.csv  work

In [12]:
!pwd

/home/jovyan

In [13]:
textFile = spark.read.text("PySpark.ipynb")

In [14]:
textFile.count()

172

In [15]:
textFile.first()

Row(value='{')

In [16]:
textFile.show()

+--------------------+
|               value|
+--------------------+
|                   {|
|          "cells": [|
|                   {|
|   "cell_type": "...|
|   "execution_cou...|
|   "id": "6618fc77",|
|     "metadata": {},|
|      "outputs": [],|
|         "source": [|
|    "from pyspark...|
|               "\n",|
|    "spark = Spar...|
|    "        .mas...|
|    "        .app...|
|    "        .get...|
|                   ]|
|                  },|
|                   {|
|   "cell_type": "...|
|   "execution_cou...|
+--------------------+
only showing top 20 rows

In [17]:
!cat studibier.csv

Name, Lieblingsbier, Alter
James, Weizen, 23
Money Penny, Brut IPA, 24
Lara, NEIPA, 22
Finn, Chimais, 17
Peter, NEIPA, 16
Jane, NEIPA, 22

In [26]:
df_sbier = spark.read.option("header", "true").csv("studibier.csv")

In [27]:
df_sbier.show()

+-----------+--------------+------+
|       Name| Lieblingsbier| Alter|
+-----------+--------------+------+
|      James|        Weizen|    23|
|Money Penny|      Brut IPA|    24|
|       Lara|         NEIPA|    22|
|       Finn|       Chimais|    17|
|      Peter|         NEIPA|    16|
|       Jane|         NEIPA|    22|
+-----------+--------------+------+

In [36]:
if df_sbier.dtypes[1][1] == 'string':
    print("it's a string")

it's a string

In [37]:
df_sbier.dtypes

[('Name', 'string'), (' Lieblingsbier', 'string'), (' Alter', 'string')]

In [3]:
df_sbier = spark.read.csv("studibier.csv", header=True, inferSchema=True)

In [115]:
df_sbier.show()

+-----------+--------------+------+
|       Name| Lieblingsbier| Alter|
+-----------+--------------+------+
|      James|        Weizen|  23.0|
|Money Penny|      Brut IPA|  24.0|
|       Lara|         NEIPA|  22.0|
|       Finn|       Chimais|  17.0|
|      Peter|         NEIPA|  16.0|
|       Jane|         NEIPA|  22.0|
+-----------+--------------+------+

In [41]:
df_sbier.dtypes

[('Name', 'string'), (' Lieblingsbier', 'string'), (' Alter', 'double')]

In [42]:
df_sbier.columns

['Name', ' Lieblingsbier', ' Alter']

In [49]:
df_sbier.select(" Lieblingsbier").distinct().show()

+--------------+
| Lieblingsbier|
+--------------+
|       Chimais|
|      Brut IPA|
|         NEIPA|
|        Weizen|
+--------------+

In [54]:
df_sbier.select(" Alter").show()

+------+
| Alter|
+------+
|  23.0|
|  24.0|
|  22.0|
|  17.0|
|  16.0|
|  22.0|
+------+

In [56]:
df_sbier.withColumnRenamed(" Alter", "Alter").agg({"Alter": "avg"}).show()

+------------------+
|        avg(Alter)|
+------------------+
|20.666666666666668|
+------------------+

In [57]:
df_sbier.agg({" Alter": "avg"}).show()

+------------------+
|       avg( Alter)|
+------------------+
|20.666666666666668|
+------------------+

In [58]:
df_sbier.agg({" Alter": "avg"}).distinct().show()

+------------------+
|       avg( Alter)|
+------------------+
|20.666666666666668|
+------------------+

In [60]:
df_sbier.select([" Lieblingsbier", " Alter"]).show()

+--------------+------+
| Lieblingsbier| Alter|
+--------------+------+
|        Weizen|  23.0|
|      Brut IPA|  24.0|
|         NEIPA|  22.0|
|       Chimais|  17.0|
|         NEIPA|  16.0|
|         NEIPA|  22.0|
+--------------+------+

In [61]:
df_sbier.select([" Lieblingsbier", " Alter"]).distinct().show()

+--------------+------+
| Lieblingsbier| Alter|
+--------------+------+
|         NEIPA|  22.0|
|         NEIPA|  16.0|
|        Weizen|  23.0|
|      Brut IPA|  24.0|
|       Chimais|  17.0|
+--------------+------+

In [4]:
from pyspark.sql.functions import lit
df_sbier.withColumn('Alter nach 2 Jahren', df_sbier[' Alter']+2).withColumn('Eins', lit(1)).show()

+-----------+--------------+------+-------------------+----+
|       Name| Lieblingsbier| Alter|Alter nach 2 Jahren|Eins|
+-----------+--------------+------+-------------------+----+
|      James|        Weizen|  23.0|               25.0|   1|
|Money Penny|      Brut IPA|  24.0|               26.0|   1|
|       Lara|         NEIPA|  22.0|               24.0|   1|
|       Finn|       Chimais|  17.0|               19.0|   1|
|      Peter|         NEIPA|  16.0|               18.0|   1|
|       Jane|         NEIPA|  22.0|               24.0|   1|
+-----------+--------------+------+-------------------+----+

In [6]:
df_sbierMitMuell = df_sbier.withColumn('Alter nach 2 Jahren', df_sbier[' Alter']+2).withColumn('Eins', lit(1))

In [7]:
df_sbierMitMuell.show()

+-----------+--------------+------+-------------------+----+
|       Name| Lieblingsbier| Alter|Alter nach 2 Jahren|Eins|
+-----------+--------------+------+-------------------+----+
|      James|        Weizen|  23.0|               25.0|   1|
|Money Penny|      Brut IPA|  24.0|               26.0|   1|
|       Lara|         NEIPA|  22.0|               24.0|   1|
|       Finn|       Chimais|  17.0|               19.0|   1|
|      Peter|         NEIPA|  16.0|               18.0|   1|
|       Jane|         NEIPA|  22.0|               24.0|   1|
+-----------+--------------+------+-------------------+----+

In [73]:
df_sbierMitMuell.drop("Eins").show()

+-----------+--------------+------+-------------------+
|       Name| Lieblingsbier| Alter|Alter nach 2 Jahren|
+-----------+--------------+------+-------------------+
|      James|        Weizen|  23.0|               25.0|
|Money Penny|      Brut IPA|  24.0|               26.0|
|       Lara|         NEIPA|  22.0|               24.0|
|       Finn|       Chimais|  17.0|               19.0|
|      Peter|         NEIPA|  16.0|               18.0|
|       Jane|         NEIPA|  22.0|               24.0|
+-----------+--------------+------+-------------------+

In [72]:
df_sbierMitMuell.show()

+-----------+--------------+------+-------------------+----+
|       Name| Lieblingsbier| Alter|Alter nach 2 Jahren|Eins|
+-----------+--------------+------+-------------------+----+
|      James|        Weizen|  23.0|               25.0|   1|
|Money Penny|      Brut IPA|  24.0|               26.0|   1|
|       Lara|         NEIPA|  22.0|               24.0|   1|
|       Finn|       Chimais|  17.0|               19.0|   1|
|      Peter|         NEIPA|  16.0|               18.0|   1|
|       Jane|         NEIPA|  22.0|               24.0|   1|
+-----------+--------------+------+-------------------+----+

In [13]:
nullWerteDaten = [("John", None, None, 18.0, 1),("Birgitt", None, 20.0, None, 1)]
df_sbierSchema = df_sbierMitMuell.schema
df_sbierMitNull = df_sbierMitMuell.union(spark.createDataFrame(data= nullWerteDaten, schema = df_sbierSchema))

In [16]:
df_sbierMitNull.show()
df_sbierMitNull.na.drop("any").show()

+-----------+--------------+------+-------------------+----+
|       Name| Lieblingsbier| Alter|Alter nach 2 Jahren|Eins|
+-----------+--------------+------+-------------------+----+
|      James|        Weizen|  23.0|               25.0|   1|
|Money Penny|      Brut IPA|  24.0|               26.0|   1|
|       Lara|         NEIPA|  22.0|               24.0|   1|
|       Finn|       Chimais|  17.0|               19.0|   1|
|      Peter|         NEIPA|  16.0|               18.0|   1|
|       Jane|         NEIPA|  22.0|               24.0|   1|
|       John|          null|  null|               18.0|   1|
|    Birgitt|          null|  20.0|               null|   1|
+-----------+--------------+------+-------------------+----+

+-----------+--------------+------+-------------------+----+
|       Name| Lieblingsbier| Alter|Alter nach 2 Jahren|Eins|
+-----------+--------------+------+-------------------+----+
|      James|        Weizen|  23.0|               25.0|   1|
|Money Penny|      Brut IPA|  24.0|               26.0|   1|
|       Lara|         NEIPA|  22.0|               24.0|   1|
|       Finn|       Chimais|  17.0|               19.0|   1|
|      Peter|         NEIPA|  16.0|               18.0|   1|
|       Jane|         NEIPA|  22.0|               24.0|   1|
+-----------+--------------+------+-------------------+----+